{% extends "base.html" %}
{% load i18n %}
{% load ldap_filters %}

{% block title %}
{% trans "Authentic - View Profile" %}
{% endblock %}


{% block content %}
<h2>{% trans "View Profile" %}</h2>
<div id="profile">
    {% if profile %}
<dl>
{% for label, values in profile %}
    {% if values|length > 0 %}
        <dt>{{ label }}</dt>
        <dd>
            {{ values|get_type }}
            {% if values|get_type == 'list' %}
                <ul>
                    {% for value in values %}
                        <li>{{ value }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                {{ values }}
            {% endif %}
        </dd>
    {% endif %}
{% endfor %}
</dl>
{% endif %}
<p><a href="{% url 'ldap_change_password' %}">{% trans "Change password" %}</a></p>
<p><a href="{% url 'ldap_edit_profile' %}">{% trans "Edit profile" %}</a></p>
</div>
<p><a href="/">{% trans "Back" %}<a/></p>
{% endblock %}
